In [1]:
#Write a Python program that prints your name to the console
print("Nitin Gupta")

Nitin Gupta

In [2]:
#Create a Python script that takes two numbers as input from the user and prints their sum.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("Sum:", sum)

Enter first number:  10
Enter second number:  20

Sum: 30.0

In [3]:
#Modify the script from question 2 to print the result with two decimal places
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("Sum: {:.2f}".format(sum))

Enter first number:  20
Enter second number:  40

Sum: 60.00

In [4]:
#First 10 Fibonacci numbers
a, b = 0, 1
print("Fibonacci Series:")
for _ in range(10):
    print(a)
    a, b = b, a + b

Fibonacci Series:
0
1
1
2
3
5
8
13
21
34

In [5]:
#Multiplication table for a given number:
num = int(input("Enter a number: "))
print("Multiplication Table for", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  5

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
#Countdown from 10 to 1 with numbers separated by comma and space
countdown = ""
for i in range(10, 0, -1):
    countdown += str(i) + ", "
print(countdown[:-2])  # Removing the last comma and space

10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [9]:
#Print contents of a text file
file_name = input("Enter the name of the file: ")
with open(file_name, 'r') as file:
    contents = file.read()
    print(contents)

Enter the name of the file:  Practice.ipynb

{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "6ce8d7a7-cfd4-4a59-8df0-39925469faa4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Nitin Gupta\n"
     ]
    }
   ],
   "source": [
    "#Write a Python program that prints your name to the console\n",
    "print(\"Nitin Gupta\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "a87bc9f6-1a1d-4485-a715-e0b0b3bf6a5d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdin",
     "output_type": "stream",
     "text": [
      "Enter first number:  10\n",
      "Enter second number:  20\n"
     ]
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Sum: 30.0\n"
     ]
    }
   ],
   "source": [
    "#Create a Python script that takes two numbers as input from the user and prints their sum.\n",
    "num1 = float(input(\"Enter first number: \"))\n",
    "num2 = float(input(\"Enter second number: \"))\n",
    "sum = num1 + num2\n",
    "print(\"Sum:\", sum)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "84078ec6-7191-441d-96ac-50565c57d650",
   "metadata": {},
   "outputs": [
    {
     "name": "stdin",
     "output_type": "stream",
     "text": [
      "Enter first number:  20\n",
      "Enter second number:  40\n"
     ]
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Sum: 60.00\n"
     ]
    }
   ],
   "source": [
    "#Modify the script from question 2 to print the result with two decimal places\n",
    "num1 = float(input(\"Enter first number: \"))\n",
    "num2 = float(input(\"Enter second number: \"))\n",
    "sum = num1 + num2\n",
    "print(\"Sum: {:.2f}\".format(sum))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "91416db3-a1d2-4c58-8df1-d703f55bf54a",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Fibonacci Series:\n",
      "0\n",
      "1\n",
      "1\n",
      "2\n",
      "3\n",
      "5\n",
      "8\n",
      "13\n",
      "21\n",
      "34\n"
     ]
    }
   ],
   "source": [
    "#First 10 Fibonacci numbers\n",
    "a, b = 0, 1\n",
    "print(\"Fibonacci Series:\")\n",
    "for _ in range(10):\n",
    "    print(a)\n",
    "    a, b = b, a + b"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "9255dfec-7335-456d-9430-cd864c46a3c7",
   "metadata": {},
   "outputs": [
    {
     "name": "stdin",
     "output_type": "stream",
     "text": [
      "Enter a number:  5\n"
     ]
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Multiplication Table for 5\n",
      "5 x 1 = 5\n",
      "5 x 2 = 10\n",
      "5 x 3 = 15\n",
      "5 x 4 = 20\n",
      "5 x 5 = 25\n",
      "5 x 6 = 30\n",
      "5 x 7 = 35\n",
      "5 x 8 = 40\n",
      "5 x 9 = 45\n",
      "5 x 10 = 50\n"
     ]
    }
   ],
   "source": [
    "#Multiplication table for a given number:\n",
    "num = int(input(\"Enter a number: \"))\n",
    "print(\"Multiplication Table for\", num)\n",
    "for i in range(1, 11):\n",
    "    print(num, \"x\", i, \"=\", num * i)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "78e7baba-9b9f-4f4c-80e8-c8b715299c6f",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "10, 9, 8, 7, 6, 5, 4, 3, 2, 1\n"
     ]
    }
   ],
   "source": [
    "#Countdown from 10 to 1 with numbers separated by comma and space\n",
    "countdown = \"\"\n",
    "for i in range(10, 0, -1):\n",
    "    countdown += str(i) + \", \"\n",
    "print(countdown[:-2])  # Removing the last comma and space"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "4474c4e5-cab9-4acb-a545-a69da104aa06",
   "metadata": {},
   "outputs": [],
   "source": [
    "#Print contents of a text file\n",
    "file_name = input(\"Enter the name of the file: \")\n",
    "with open(file_name, 'r') as file:\n",
    "    contents = file.read()\n",
    "    print(contents)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "64fa0fb0-d65a-4dd0-bb97-7c8e1ff597c3",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.11.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [10]:
#Print a pattern of stars like a triangle
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    print("*" * i)

Enter the number of rows:  4

*
**
***
****

In [11]:
#Print current date and time
import datetime
current_datetime = datetime.datetime.now()
print("Current Date and Time:", current_datetime)

Current Date and Time: 2024-05-12 21:38:23.618201

Data Types

In [12]:
#Calculate the area of a circle with a given radius
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)
print("Area of the circle:", area)

Enter the radius of the circle:  8

Area of the circle: 201.06192982974676

In [13]:
#Division of two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if num2 != 0:
    result = num1 / num2
    print("Result of division:", result)
else:
    print("Cannot divide by zero.")

Enter first number:  8
Enter second number:  2

Result of division: 4.0

In [14]:
#Factorial of a given number
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial of", num, ":", factorial)

Enter a number:  6

Factorial of 6 : 720

In [15]:
#Convert temperature from Celsius to Fahrenheit
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius:  42

Temperature in Fahrenheit: 107.6

In [16]:
#Generate a random number between 1 and 100
import random
random_number = random.randint(1, 100)
print("Random number between 1 and 100:", random_number)

Random number between 1 and 100: 48

String

In [18]:
#Reverse a given string
string = input("Reversing a string ")
reversed_string = string[::-1]
print("Reversed string:", reversed_string)

Reversing a string  Nitin Gupta

Reversed string: atpuG nitiN

In [19]:
#Check if a given string is a palindrome
string = input("Enter a string: ")
if string == string[::-1]:
    print("God of War")
else:
    print("Not a God of War")

Enter a string:  god of war

Not a God of War

In [20]:
#Reverse the words in a sentence
sentence = input("Enter a sentence: ")
words = sentence.split()
reversed_sentence = " ".join(words[::-1])
print("Reversed sentence:", reversed_sentence)

Enter a sentence:  Python is Awesome

Reversed sentence: Awesome is Python

In [21]:
#Convert a string to lowercase
string = input("Enter a string: ")
lowercase_string = string.lower()
print("Lowercase string:", lowercase_string)

Enter a string:  I m Python Lover

Lowercase string: i m python lover

List

#Find the largest and smallest elements in a list
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
largest = max(numbers)
smallest = min(numbers)
print("Largest element:", largest)
print("Smallest element:", smallest)

In [29]:

#Remove negative numbers from a list
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
positive_numbers = [num for num in numbers if num >= 0]
print("List with negative numbers removed:", positive_numbers)

Enter numbers separated by space:  10 -5

List with negative numbers removed: [10]

In [30]:
#Sort a list of integers in ascending order
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
numbers.sort()
print("Sorted list:", numbers)

Enter numbers separated by space:  10 20 40

Sorted list: [10, 20, 40]

In [32]:
#Check if two lists have at least one common element
list1 = [int(x) for x in input("Enter numbers for first list separated by space: ").split()]
list2 = [int(x) for x in input("Enter numbers for second list separated by space: ").split()]
common_elements = any(elem in list1 for elem in list2)
print("Common elements found:", common_elements)

Enter numbers for first list separated by space:  4
Enter numbers for second list separated by space:  6

Common elements found: False

Dictionary

In [34]:
#Print all keys of a dictionary
my_dict = {"key1": 1, "key2": 2, "key3": 3}
print("Keys:", my_dict.keys())

Keys: dict_keys(['key1', 'key2', 'key3'])

In [35]:
#Check if a given key exists in a dictionary
my_dict = {"key1": 1, "key2": 2, "key3": 3}
key_to_check = input("Enter key to check: ")
if key_to_check in my_dict:
    print("Key exists")
else:
    print("Key does not exist")

Enter key to check:  1

Key does not exist

In [36]:
#Merge two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
#Print dictionary in sorted order based on keys
my_dict = {"b": 2, "a": 1, "d": 4, "c": 3}
sorted_dict = dict(sorted(my_dict.items()))
print("Sorted dictionary:", sorted_dict)

Sorted dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
# Write a Python script that prints a welcome message along with the current date and time.
# Print a welcome message with the current date and time
import datetime
print("Welcome! Today's date and time is:", datetime.datetime.now())

Welcome! Today's date and time is: 2024-05-13 21:26:53.347533

In [2]:
# Print a series of numbers from 1 to 10, each on a new line.
# Print numbers from 1 to 30
for i in range(1, 31):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [9]:
# Create variables to store the following information: name (string), age (integer), height (float), and is_student (boolean).
# Creating variables of different data types
name = "Nitin"
age = 20
height = 5.11
is_student = True
print(is_student)

True

In [12]:
# Convert a string variable containing a numerical value to an integer or float data type.
# Converting string variable to integer or float
str_num = "20"
int_num = int(str_num)
float_num = float(str_num)
print (float_num)

20.0

In [14]:
# Convert an integer variable to a string data type.
# Converting integer variable to string
int_value = 223
str_value = str(int_value)
print (str_value)

223

In [16]:
# Perform arithmetic operations (addition, subtraction, multiplication, division) on numerical variables.
import math

# Arithmetic operations
result_add = 5 + 3
result_sub = 7 - 2
result_mul = 4 * 6
result_div = 10 / 2
print(result_div, result_mul)

5.0 24

In [18]:
# Calculate the square root of a number.
# Square root
sqrt_value = math.sqrt(525)
print(sqrt_value)

22.9128784747792

In [19]:
# Use the math module to perform more advanced mathematical operations like calculating logarithms or trigonometric functions.
import math

# Calculate the natural logarithm (base e) of a number
x = 10
log_value = math.log(x)
print("Natural logarithm of", x, ":", log_value)

# Calculate the logarithm of a number with a specified base (e.g., base 10)
log_base_10 = math.log10(x)
print("Logarithm base 10 of", x, ":", log_base_10)

# Calculate the logarithm of a number with a specified base (e.g., base 2)
log_base_2 = math.log2(x)
print("Logarithm base 2 of", x, ":", log_base_2)

# Calculate trigonometric functions (sine, cosine, tangent) in radians
angle_radians = math.radians(45)  # Convert angle from degrees to radians
sin_value = math.sin(angle_radians)
cos_value = math.cos(angle_radians)
tan_value = math.tan(angle_radians)
print("Sine of 30 degrees:", sin_value)
print("Cosine of 30 degrees:", cos_value)
print("Tangent of 60 degrees:", tan_value)

Natural logarithm of 10 : 2.302585092994046
Logarithm base 10 of 10 : 1.0
Logarithm base 2 of 10 : 3.321928094887362
Sine of 30 degrees: 0.7071067811865476
Cosine of 30 degrees: 0.7071067811865476
Tangent of 60 degrees: 0.9999999999999999

In [20]:
# Concatenate two strings to form a new string.
# Concatenation
message = "Hello, " + "world!"
print(message)

Hello, world!

In [21]:
# Extract a substring from a given string.
# Extract substring
sentence = "This is a sentence."
substring = sentence[5:7]  # Extracts "is"
print(substring)

is

In [22]:
# Convert a string to uppercase or lowercase.
# Convert to uppercase or lowercase
uppercase_str = "hello".upper()
lowercase_str = "WORLD".lower()
print(uppercase_str)
print(lowercase_str)

HELLO
world

In [23]:
# Create a list of numbers and calculate the sum, mean, and median of the elements.
# Create a list of numbers
numbers = [20, 35, 10, 88, 98, 43, 56, 48, 90]

# Calculate the sum of the elements
sum_of_numbers = sum(numbers)

# Calculate the mean (average) of the elements
mean_of_numbers = sum_of_numbers / len(numbers)

# Calculate the median of the elements
sorted_numbers = sorted(numbers)
n = len(numbers)
if n % 2 == 0:
    median_index = n // 2
    median = (sorted_numbers[median_index - 1] + sorted_numbers[median_index]) / 2
else:
    median_index = n // 2
    median = sorted_numbers[median_index]

print("List of Numbers:", numbers)
print("Sorted List:", sorted_numbers)
print("Sum of Numbers:", sum_of_numbers)
print("Mean of Numbers:", mean_of_numbers)
print("Median of Numbers:", median)

List of Numbers: [20, 35, 10, 88, 98, 43, 56, 48, 90]
Sorted List: [10, 20, 35, 43, 48, 56, 88, 90, 98]
Sum of Numbers: 488
Mean of Numbers: 54.22222222222222
Median of Numbers: 48

In [25]:
# List of numbers
numbers = [15, 50, 40, 45, 59, 72,30]

# Calculate sum, mean, and median
sum_nums = sum(numbers)
mean_nums = sum_nums / len(numbers)
sorted_nums = sorted(numbers)
median_nums = sorted_nums[len(numbers)//2]
print("Sum:", sum_nums)
print("Mean:", mean_nums)
print("Sorted List:", sorted_nums)
print("Median:", median_nums)

Sum: 311
Mean: 44.42857142857143
Sorted List: [15, 30, 40, 45, 50, 59, 72]
Median: 45

In [27]:
# Append new elements to a list.
numbers.append(100)
numbers.append(75)
sum_nums = sum(numbers)
mean_nums = sum_nums / len(numbers)
sorted_nums = sorted(numbers)
median_nums = sorted_nums[len(numbers)//2]
print("Sum:", sum_nums)
print("Mean:", mean_nums)
print("Sorted List:", sorted_nums)
print("Median:", median_nums)

Sum: 661
Mean: 60.09090909090909
Sorted List: [15, 30, 40, 45, 50, 59, 72, 75, 75, 100, 100]
Median: 59

In [28]:
# Remove duplicate elements from a list.
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)


sum_nums = sum(unique_numbers)
mean_nums = sum_nums / len(unique_numbers)
sorted_nums = sorted(unique_numbers)
median_index = len(unique_numbers) // 2
median_nums = sorted_nums[median_index]
print("Sum:", sum_nums)
print("Mean:", mean_nums)
print("Sorted List:", sorted_nums)
print("Median:", median_nums)

Sum: 486
Mean: 54.0
Sorted List: [15, 30, 40, 45, 50, 59, 72, 75, 100]
Median: 50

In [29]:
# Create a dictionary representing a person with keys like "name", "age", and "gender".
# Dictionary representing a person
person = {"name": "Raju", "age": 22, "gender": "Male"}
print(person)

{'name': 'Raju', 'age': 22, 'gender': 'Male'}

In [30]:
# Access and modify values in the dictionary.
# Access and modify values
person["age"] = 20
print(person)

{'name': 'Raju', 'age': 20, 'gender': 'Male'}

In [31]:
# Iterate over the key-value pairs in the dictionary and print them.
# Iterate over key-value pairs
for key, value in person.items():
    print(key, ":", value)

name : Raju
age : 20
gender : Male

In [32]:
# Write Python expressions using boolean operators (and, or, not).
# Iterate over key-value pairs
for key, value in person.items():
    print(key, ":", value)

name : Raju
age : 20
gender : Male

In [33]:
# Use boolean variables to control the flow of a program (e.g., in conditional statements or loops).
# Define a boolean variable
is_raining = True


if is_raining:
    print("Bring an umbrella!")
else:
    print("No need for an umbrella.")


counter = 0
while counter < 5:
    print("Count:", counter)
    counter += 1


x = 5
y = 10
is_greater = x > y
if is_greater:
    print("x is greater than y")
else:
    print("y is greater than x")

Bring an umbrella!
Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
y is greater than x

In [34]:
# Create a tuple containing the names of different fruits.
# Tuple containing fruit names
fruits = ("apple", "banana", "orange")
print(fruits)

('apple', 'banana', 'orange')

In [35]:
# Access elements of a tuple using indexing.
# Access elements using indexing
first_fruit = fruits[1]
print(first_fruit)

banana

In [36]:
# Try to modify an element of a tuple and observe the error message.
# Attempt to modify an element (will raise TypeError)
fruits[0] = "grape"
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [38]:
# Create two sets of numbers and perform set operations like union, intersection, and difference.
# Sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {5, 6, 7, 8, 9}

# Set operations
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
print(union_set)
print(intersection_set)
print(difference_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{1, 2, 3, 4}

In [39]:
# Check if a given element exists in a set.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Element to check
element = 3

# Check if the element exists in the set
if element in my_set:
    print(f"The element {element} exists in the set.")
else:
    print(f"The element {element} does not exist in the set.")

The element 3 exists in the set.

In [41]:
# Convert a list to a set to remove duplicate elements.
# Define a list with duplicate elements
my_list = [1,2,3,4,5,1,2,3,4,5]

# Convert the list to a set to remove duplicates
unique_set = set(my_list)

# Convert the set back to a list if needed
unique_list = list(unique_set)

print("Original List:", my_list)
print("List after removing duplicates:", unique_list)

Original List: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
List after removing duplicates: [1, 2, 3, 4, 5]

In [42]:
# Write Python expressions using comparison operators (>, <, ==, !=, >=, <=).
# Comparison operators
greater_than = 5 > 3
equal_to = "hello" == "world"
not_equal = 10 != 5
print(greater_than)
print(equal_to)
print(not_equal)

True
False
True

In [43]:
# Write a Python script that asks the user to input their age and prints different messages based on whether they are a child, teenager, adult, or senior citizen.
# If-elif-else statements
age = int(input("Enter your age: "))
if age < 18:
    print("You are a child.")
elif age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Enter your age:  20

You are an adult.

In [45]:
# For loop to print squares of numbers
for i in range(1, 20):
    print(i * i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [46]:
# Iterate over a list of strings and print the length of each string.
# For loop to print length of strings
strings = ["apple", "banana", "orange"]
for s in strings:
    print(len(s))

5
6
6

In [47]:

# Write a Python script that repeatedly asks the user to guess a number until they guess it correctly.
import random

target = random.randint(1, 30)
guess = 23
while guess != target:
    guess = int(input("Guess the number (1-30): "))
print("Congratulations! You guessed it correctly.")

Guess the number (1-30):  2
Guess the number (1-30):  5
Guess the number (1-30):  23
Guess the number (1-30):  23
Guess the number (1-30):  1
Guess the number (1-30):  2
Guess the number (1-30):  3
Guess the number (1-30):  4
Guess the number (1-30):  5
Guess the number (1-30):  6
Guess the number (1-30):  7
Guess the number (1-30):  8
Guess the number (1-30):  9
Guess the number (1-30):  10
Guess the number (1-30):  11
Guess the number (1-30):  12
Guess the number (1-30):  14
Guess the number (1-30):  15
Guess the number (1-30):  16

Congratulations! You guessed it correctly.

In [48]:
# Use a while loop to calculate the factorial of a given number.
# While loop to repeatedly guess a number
import random

target = random.randint(1, 10)
guess = 5
while guess != target:
    guess = int(input("Guess the number (1-10): "))
print("Congratulations! You guessed it correctly.")

Guess the number (1-10):  1

Congratulations! You guessed it correctly.

In [49]:
# While loop to calculate factorial
num = int(input("Enter a number: "))
factorial = 4
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)

Enter a number:  4

Factorial: 96