In [1]:
# Print Statement 
print ("Python is awesome for machine learning")

Python is awesome for machine learning

In [4]:
# Creating variables 
x = 15 
y = "Nitin"
print (x)
print (y)

15
Nitin

In [6]:
# printing with string method and f is passing the variable.
x = 15 
y = "Nitin"
print (f"{y} is {x} years old.")

Nitin is 15 years old.

In [7]:
# Using String format method
print ("{} is {} years old." .format(y,x))

Nitin is 15 years old.

In [8]:
# Concatenation method.
print (y + "is" + str(x) + "years old")

Nitinis15years old

In [10]:
# Using % string formatting method
print ("%s is %d years old." %(y,x))

Nitin is 15 years old.

#Data Types 
-Numbers

In [1]:
# working with single quoted string
single_quoted_string ='Python is awesome.'
print ("Single Quoted String:" , single_quoted_string)

Single Quoted String: Python is awesome.

In [2]:
# working with double quoted string
double_quoted_string ="Python is awesome."
print ("Double Quoted String:" , double_quoted_string)

Double Quoted String: Python is awesome.

In [5]:
# String Concatenation
concatenated_string = single_quoted_string + '' + double_quoted_string
print("concatenated_string is:", concatenated_string)

concatenated_string is: Python is awesome.Python is awesome.

In [6]:
# string methods
uppercase_string = concatenated_string.upper()
print(uppercase_string)
lowercase_string = concatenated_string.lower()
print(lowercase_string)

PYTHON IS AWESOME.PYTHON IS AWESOME.
python is awesome.python is awesome.

In [1]:
# Finding area of rectangle
length = 10
breadth = 15
print(f"The area of rectangle is {length*breadth}.")

The area of rectangle is 150.

In [4]:
# String Slicing examples
word = "University of UK"
slice_word = word[4:10]
print("slice word is:", slice_word)

slice word is: ersity

In [10]:
#How to remove extra spacing
word_space = "  Tribhuvan University  "
print(word_space)
remove_space = word_space.strip()
print(remove_space)

  Tribhuvan University
Tribhuvan University

In [13]:
word_list = ["Python", "Is", "Awesome", "I", "am", "Good"]
print("Woerd list is:",word_list)
sentence ="".join(word_list)
print("Complete Sentence is:",sentence)

Woerd list is: ['Python', 'Is', 'Awesome', 'I', 'am', 'Good']
Complete Sentence is: PythonIsAwesomeIamGood

In [15]:
word_list="Hello World"
replaced_string = word_list.replace("Hello", "Hacking")
print("Replaced String:",replaced_string)

Replaced String: Hacking World

In [16]:
# find a word in a sentence
word ="Python is Awesome! I'm the King."
index = word.find("king")
print("Index of king:", index)

Index of king: -1

In [17]:
# List Creation
fav_movie = ["Animal", "Hera Pheri", "Dhamaal", "Dhol", "Jatra"]
print(fav_movie)

['Animal', 'Hera Pheri', 'Dhamaal', 'Dhol', 'Jatra']

In [19]:
# Accessing the element of list
print("My fav movie is:", fav_movie[2])
print("Rashna fav movie is:", fav_movie[3])

My fav movie is: Dhamaal
Rashna fav movie is: Dhol

# finding the length of list
print("The length of string is:", len(fav_movie))

In [25]:
# List can Contain heterogeneous data types
list1 = ["Nepal", "India", "China", "Bhutan"]
list2 = [5 ,10, 15, 20, 25]
list3 = [True, False, True, False]
list4 = ["Nepal", 10, True]
print(list1 ,list2 ,list3, list4)
print(list2)
print(list3)
print(list4)

['Nepal', 'India', 'China', 'Bhutan'] [5, 10, 15, 20, 25] [True, False, True, False] ['Nepal', 10, True]
[5, 10, 15, 20, 25]
[True, False, True, False]
['Nepal', 10, True]

In [22]:
# let's find the type of data types
print(type(list4))

<class 'list'>

In [24]:
#Nested List
nested_list = ["One Piece", "God of War", [8, 10]]
print(nested_list)
print(nested_list [2] [1])

['One Piece', 'God of War', [8, 10]]
10

Dictionary

In [32]:
# Create a Dictionary
student ={
    "name": "Nitin",
    "Department": "Computer Systems Engineering",
    "Block": "The London College"
}
print(student)

{'name': 'Nitin', 'Department': 'Computer Systems Engineering', 'Block': 'The London College'}

In [31]:
# Accessing the dictionary items
print("Student's Name:", student ["name"])

Student's Name: Nitin

In [33]:
# Adding a new element
student ["Year"] = 2025
# Printing a Dictionary as a string
print(repr(student))

{'name': 'Nitin', 'Department': 'Computer Systems Engineering', 'Block': 'The London College', 'Year': 2025}

In [42]:
# Modifying an existing item
student ["Year"] = 2024
print(repr(student))

{'name': 'Nitin', 'Department': 'Computer Systems Engineering', 'Block': 'The London College', 'Year': 2024}

In [39]:
# Deleting an item if it exists
if "Year" in student:
    del student["Year"]
    print(student)

{'name': 'Nitin', 'Department': 'Computer Systems Engineering', 'Block': 'The London College'}

In [41]:
car_dict = dict(name="Tesla", comapany= "Tesla", price=1000000)
print(repr(car_dict))

{'name': 'Tesla', 'comapany': 'Tesla', 'price': 1000000}

In [3]:
# Boolean:=
print ("\nExample 1: Comparing Variables ") 
print ("Is 100 smaller than 200?",200>100)
print ("Is 50 is equal to 100?", 50 == 100)

Example 1: Comparing Variables
Is 100 smaller than 200? True
Is 50 is equal to 100? False

In [6]:
# Examples 2: Finding Greatest Number
x = 50
y = 200
if x > y:
    print(f"{x} is greater than {y}.")
else: 
    print(f"{y} is greater than {x}.")

200 is greater than 50.

In [13]:
#  Evaluating values and variables
print ("Is 'hello' True?", bool("Hello"))
x = "hi"
y = 25
print("Is x True?", bool (x))
print ("Is y True?", bool (y))

Is 'hello' True? True
Is x True? True
Is y True? True

In [18]:
# Function that returns boolean
def is_even(num):
    return num % 2 == 0
print ("Is 20  even?", is_even(20))
print ("Is 25 even?", is_even(25))

Is 20  even? True
Is 25 even? False

In [19]:
# Tuples
fav_movie = ("Animal", "Jatra", "OP")
print(fav_movie)

('Animal', 'Jatra', 'OP')

In [20]:
# Accessing the fav movie

In [23]:
print("Nitin fav movie is", fav_movie [0])
print ("Rashna fav movie is", fav_movie[2])
print ("dedh foot fav", fav_movie[1])

Nitin fav movie is Animal
Rashna fav movie is OP
dedh foot fav Jatra

In [25]:
 x, y, z = fav_movie
print("Seperate Movie:", x, y, z)

Seperate Movie: Animal Jatra OP

In [26]:
for item in fav_movie:
    print(item)

Animal
Jatra
OP

In [28]:
# joining the two tupples
first_tupple = ("Raju", "Shyam", "Baburao")
second_tupple = (1, 2, 3)
joined_tupples = first_tupple + second_tupple
print (joined_tupples)

('Raju', 'Shyam', 'Baburao', 1, 2, 3)

In [29]:
# Sets 
my_first_set = {"Apple", "Banana", "Mango", "Berry"}
print(my_first_set)

{'Apple', 'Banana', 'Mango', 'Berry'}

In [31]:
# Addinf a new fruit to our set
my_first_set.add("Cherry")
print(my_first_set)

{'Mango', 'Apple', 'Banana', 'Berry', 'Cherry'}

In [32]:
# updating our sets
my_first_set.update(["Pineapple","Guava"])
print(my_first_set)

{'Mango', 'Apple', 'Banana', 'Berry', 'Guava', 'Cherry', 'Pineapple'}

In [33]:
# removing our sets
my_first_set.remove("Cherry")
print(my_first_set)

{'Mango', 'Apple', 'Banana', 'Berry', 'Guava', 'Pineapple'}

In [34]:
# Conditional Statement
# find the greatest number among these
a = 50
b = 60
c = 80
if a>=b and a>=c:
    print(f"{a} is greatest number.")
elif b>=a and b>=c:
    print(f"{b} is greatest number.")
else:
    print(f"{c} is greates number.")

80 is greates number.

In [36]:
# Leap Year
year = 2024
if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap year")

Leap Year

In [44]:
# Season based on the month
month = "Jan"

if month in ["Jan", "Feb", "March"]:
    print("Spring")
elif month in ["Sep", "Oct", "Nov"]:
    print("Autumn")
elif month in ["June", "July", "August"]:
    print("Summer")

Spring

In [3]:
# Loops
multiple_of_two = [2,4,6,8,10]
print("\nMultiple of two:")
for i in multiple_of_two:
    print(i)

Multiple of two:
2
4
6
8
10

In [4]:
#String in loops
string = "Python is Awesome"
for char in string:
    print(char)

P
y
t
h
o
n

i
s

A
w
e
s
o
m
e

In [6]:
# Range
for i in range (10):
    print(i)
for n in range(1,10):
    print(n)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [7]:
# Even Number from 1 to 10
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [9]:
# Odd number from 1 to 11
for i in range (1,12,2):
    print(i)

1
3
5
7
9
11

In [16]:
for i in range (19,10,-2):
    print(i)

19
17
15
13
11

In [17]:
# Dictionary
fav_movie ={
    "Dunki":8,
    "Animal":9,
    "RRR":6
           }
for key,value in fav_movie.items():
    print(key,":", value)

Dunki : 8
Animal : 9
RRR : 6

In [24]:
# Tuples with loop
fav_movie = [("Animal", 9), ("Jatra", 7), ("OP", 8)]
print("\nElements of movie Tuple:")
for item in fav_movie:
    print(item)

Elements of movie Tuple:
('Animal', 9)
('Jatra', 7)
('OP', 8)

In [25]:
# Seperating each element for tuple movie
for char, num in fav_movie:
    print("Character:", char, "|Rating:", num)

Character: Animal |Rating: 9
Character: Jatra |Rating: 7
Character: OP |Rating: 8

In [26]:
# While Loop Concept
count = 1
while count <=10:
    print(count)
    count +=1

1
2
3
4
5
6
7
8
9
10

In [28]:

num = 1
total_sum = 0


while num <= 10:
    total_sum += num
    num += 1

print("nThe sum of numbers from 1 to 10 is:", total_sum)

nThe sum of numbers from 1 to 10 is: 55

In [29]:
# find the sum of number from 1 to 10 even numbers only

num = 1
total_sum = 0


while num <= 10:
    if num % 2 == 0:
        total_sum += num
    num += 1


print("The sum of even numbers from 1 to 10 is:", total_sum)

The sum of even numbers from 1 to 10 is: 30

In [31]:
# Find the even number from 1 to 10 using while loop
num = 1
while num <= 10:
    
    if num % 2 == 0:
        print(num)
    
    num += 1

2
4
6
8
10

In [34]:
# Using While loop to calculate factorial
num = 5
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)

Factorial: 120

In [35]:
#Reverse a given string
string = "Filmy "
reversed_string = string[::-1]
print("Reversed string:", reversed_string)

Reversed string:  ymliF

In [36]:
#Function
def greet():
    print("Hello World!!!")
greet()

Hello World!!!